<% include partiels/header %>

<h1>
	Here you can make a new measurement !
</h1>

<form style="width: 30%; margin: 25px auto;">
  <div class="form-group">
    <label for="exampleFormControlSelect1">Product ID</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Select Product</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </div>
  <div class="form-group">
    <label for="formControlInput1">Batch</label>
    <input type="text" class="form-control" id="formControlInput1" placeholder="XXXX-XXXX">
  </div>
  <!-- <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div> -->
  <div class="form-group">
    <label for="formControlInput2">Quantity</label>
    <input type="number" class="form-control" id="formControlInput2">
  </div>	
  <div class="form-group">
    <label for="formControlInput4">D1</label>
    <input type="number" class="form-control" id="formControlInput4">
  </div>	
  <div class="form-group">
    <label for="formControlInput5">D2</label>
    <input type="number" class="form-control" id="formControlInput5">
  </div>	
  <div class="form-group">
    <label for="formControlInput3">Date</label>
    <input type="date" class="form-control" id="formControlInput3">
  </div>
  <!-- <div class="form-group">
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div> -->
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
	<button class="btn btn-lg btn-primary btn-block">Submit!</button>
</form>


<a href="/">BACK</a>




<% include partiels/footer %>