<% include partiels/header %>
<div style="display: flex; flex-wrap: wrap;">
	<form style="width: 30%; margin: 25px auto;" class="form-group" action="/products/createProduct" method="GET">
		<button type="submit" class="btn btn-lg btn-primary btn-block">Create New Product !</button>
	</form>
	<form style="width: 30%; margin: 25px auto;" class="form-group" action="/products/viewProducts" method="GET">
		<button type="submit" class="btn btn-lg btn-primary btn-block">View Products</button>
	</form>	
</div>

<% include partiels/footer %>